 .view-order {
           /* margin-left: 230px;*/
            background: #ecf0f5;
            position: relative;

        }

        .view-order .nav-tabs {
            margin-top: 25px;
            margin-left: 15px;
        }

        .view-order h1 {
            font-size: 24px;
            margin: 0;
            padding: 15px 15px 0 15px;
        }

        .summery-details {
            padding: 15px;
        }

        .summery-details h3 {
            font-weight: 600;
            font-size: 18px;
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
            margin-top: 0;
        }

        .summery-details h3 a {
            float: right;
            font-size: 14px;
            padding-right: 20px;
        }

        .summery-details .summery-info td:first-child {
            font-weight: 700;
            padding: 3px 0px;
            min-width: 100px;
        }

        .summery-details .address-sec p {
            margin-bottom: 5px;
        }

        .summery-details .address-sec, .summery-details .payment-sec, .summery-details .order-list-sec {
            margin-top: 25px;
        }

        .summery-details .payment-sec td:first-child {
            min-width: 120px;
            font-weight: 700;
            padding: 3px 0;
        }

        .bg-card {
            min-height: 250px;
            padding: 15px;
            margin-right: auto;
            margin-left: auto;

        }

        .view-order .box {
            position: relative;
            border-radius: 3px;
            background: #ffffff;
            border-top: 3px solid #d2d6de;
            margin-bottom: 20px;
            width: 100%;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        }

        .view-order .box.box-info {
            border-top-color: #00c0ef;
        }
        .summery-details .old-orders .checkbox label {
            min-width: inherit;
            padding-right: 20px !important;
        }
        .old-orders label {
            min-width: 150px;
            padding-bottom: 8px;
            padding-top: 8px;
        }
        .old-orders input[type="text"], .old-orders select {
            width: 70%;
        }