body{font-family: Source Sans Pro,sans-serif !important;position:relative;}
a:hover, a.active {font-style:none}
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}
/**/
.skin-blue .main-header .logo:hover, .skin-blue .main-header .logo{background-color: #fff;}
span.logo-lg {width: 57%;    margin: 0 auto;}
.skin-blue .main-header .navbar {background-color: #60c5ac;}
.skin-blue .main-header li.user-header{background-color: #549e8c;}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a{background-color: #60c5ac;}
.btn-warning {
    background-color: #60c5ac;
    border-color: #60c5ac;
}
/*Jithu 24042017 *******/
/*#dtTable tr>th:first-child{
display: none;
}
#dtTable tr>td:first-child{
display: none;
}
*/
/*******************/
.col-md-6.dimsn-bknd {
    margin-top: 6px;
}
.crt_right_alng label.control-label {
    margin-bottom: 8px !important;
}
.dmns_rigts .col-md-4 {
    padding-left: 0px;
}
.drop_uploader.drop_zone .text a:after {
    margin-top: 30% !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #60c5ac;
    border-color: #60c5ac;
}
.c_ctmes-admin .form-group.has-feedback {
    padding-left: 0px;
}
/* .defult-form .fileupload.fileupload-new img {
    width: 100%;
}
 #category-create .defult-form .fileupload.fileupload-new {
    max-height: 90px;
     overflow: hidden;
} */
#category-create .cat_img.fileupload.fileupload-new img {
    width: 100%;
}
#category-create .cat_img.fileupload.fileupload-new {
    max-height: 100px;
    overflow: hidden;
}
#category-create .ban_img.fileupload.fileupload-new {
	   max-height: 100px;
    overflow: hidden;
}
#category-create .ban_img.fileupload.fileupload-new img {
width:100%;
}
.upload_bx {
    padding-left: 0px;
    margin-top: 5px;
}
input#cat_image {
    color: transparent;
}
input#banner_image {
    color: transparent;
}
.text-left.add_btn {
    margin-top: 25px !important;
    padding-bottom: 0px;
    float: left;
    text-align: left;
}
a.btn.btn-primary.pull-right.add-prod {
    margin-top: 27px;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.hover {
    background-color: #60c5ac;    border-color: #60c5ac;
}
a.add_cat.btn.btn-primary {
    margin-top: 20px; float:right;
}
a.remove_cat.btn.btn-danger {
    margin-top: 20px;float:right;
}
a.add-prod.btn.btn-primary {
    margin-top: 20px;float:right;
}
a.remove_product.btn.btn-danger {
    margin-top: 20px;float:right;
}
.row_pregt {
    margin-left: 5px;
}
.btn-warning.focus, .btn-warning:focus {
    color: #fff;
    background-color: #60c5ac;
    border-color: #60c5ac;
}
span.remove_pic_banner {
    position: absolute;
    top: -7px;    color: red;
    right: 0px;
}
.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, .open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover {
    color: #fff;
    background-color: #60c5ac;
    border-color: #60c5ac;
}
/**/

.login-logo img {
    margin: 0 auto !important;
}
.main-header .logo img {

    margin-top: 0;
}
.btn-primary {
    background-color: #60c5ac;
    border-color: #60c5ac;
    color: #000;
}
ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front{max-height:150px; overflow-y:auto;}
.btn-primary:hover {
    background-color: #60c5ac;
    border-color: #60c5ac;
    color: #000;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #000;
    background-color: #60c5ac;
    border-color: #60c5ac;
}
.btn-primary.focus, .btn-primary:focus {
    color: #000;
    background-color: #60c5ac;
    border-color: #60c5ac;
}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a {
    background:#60c5ac;
    color: #f6f6f6;
}
.form-group.spaces-admin span {
    margin-left: 5px;
}
.form-group.spaces-admin input {
    margin-top: 15px;
}
.well-btns a {
    background: #33baec;
    padding: 10px;    margin-top: 45px;
    border: 1px solid #33baec;
}
.box-body .list-group-item.list-group-item-info {
    background: #fff none repeat scroll 0 0;
}
.dataTables_paginate.paging_simple_numbers {
    float: right;
    margin-right: 30px;
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #60c5ac;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.btn-success {
    background-color: #00a65a;
    border-color: #008d4c;
    border-radius: 2px;
    padding: 3px 15px;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #222d32;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #60c5ac;
}
.main-header .logo{    height: 60px;}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#user_edit_from .form-group, #user_add_from .form-group{
  margin-right: 0px;
  margin-left: 0px;
}
h3.box-title{width:100%; float:left;}
.box-title.heading-agent{border-bottom: 1px solid #eee; padding: 0px 0 10px 0;}
#user_add_from input{border: 1px solid #ccc; border-radius: 4px;}
#user_add_from select{border: 1px solid #ccc; border-radius: 4px;}
#user_add_from p{margin:0px; font-size: 15px;}

#user_edit_from input{border: 1px solid #ccc; border-radius: 4px;}
#user_edit_from select{border: 1px solid #ccc; border-radius: 4px;}
#user_edit_from p{margin:0px; font-size: 14px;}
#login .has-feedback label~.form-control-feedback {top: 0px;}
.login-logo, .register-logo{margin-bottom: 0px;float: left; padding: 20px; width: 100%;}
.login-box-body .text-center h3{font-size: 18px;}
.role-permission td{width:10%;}
.role-permission td:first-child(1){text-align:left !important;}

.box-footer .pull-right a.btn.btn-default{margin:0 10px 0 0;}
.editrole-permission td{width:10%;}
.editrole-permission td:first-child(1){text-align:left !important;}
.user-list{margin:10px 4px 10px 0; }
.req-field{color: red;}
#agent_edit_from .form-group{margin-right:0px; margin-left:0px;}
#agent_edit_from input, #agent_edit_from select{border:1px solid #ccc;}
#agent_edit_from p{margin:0;font-size:11px}
span.remove_pic_cat {    position: absolute;    top: -7px;    color: red;    right: 0px;}
.sidebar-menu .treeview-menu{padding-left: 25px !important;}
.sidebar-collapse .sidebar-menu .treeview-menu{padding-left: 0px !important;}
.login-box-body form .btn.btn-flat, .login-box-body form .form-control{border-radius: 2px;}


.ticket-view .ticket-head{text-align:right}
.ticket-view p{width:100%; float:left;}
.ticket-view p span a{padding-right:15px;}
.ticket-view  a.btn{float:right; margin:25px 0 0 0;}
/*
.ticket-tabs1{width:100%; float:left; position:relative;margin:15px 0;}
.ticket-tabs1 ul{width: 100%; float: left; padding:0; border-bottom: 1px solid #ccc;padding:0px;}
.ticket-tabs1 li{list-style:none;display:inline; margin:0 0px 0 0;}
.ticket-tabs1 li{float:left; padding:10px 15px; background:#fff; border:1px solid #fff; border-bottom:0px;}

.ticket-tabs1 li:hover, .ticket-tabs li.active{padding:10px 15px; background:#f5f5f5; border:1px solid #ccc; border-bottom:0px; color:#000}
.ticket-tabs1 li:hover a, .ticket-tabs li.active a{color:#000;}
*/
.tab-content{padding:15px 0;}
.ticket-add{position:absolute; right:15px; top:20px; background:#3c8dbc; color:#fff; padding:10px 15px; font-size:15px; font-weight:normal}
.onoffswitch-ticket{text-align:right}
.onoffswitch {position: relative; width: 90px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none; float:right;}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {content: "OFF"; padding-right: 10px; background-color: #EEEEEE; color: #999999; text-align: right;}
.onoffswitch-switch {display: block; width: 33px; margin:0 0 5px; background: #FFFFFF; position: absolute; top: 0; bottom: 0; right: 56px; border: 2px solid #999999; border-radius: 20px; transition: all 0.3s ease-in 0s;}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {margin-left: 0;}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {right: 0px;}

.status-view-ticket{padding: 4px 15px; background: red; color: #fff; border-radius: 2px; width: 100%; float: left; text-align: center;
    font-size: 15px;}
.ticket-view-task img, .ticket-view-more img{width: 50px; height: 50px; border: 1px solid #ccc; border-radius: 100%; float:left; margin:0 15px 0 0;}
span.remove_pic {
    cursor: pointer;
}

/*28-04-17 crate dharma*/
.drop_uploader.drop_zone {
    border: none !important;
}
.frnt_back_view .up-blog { background: #ccc; height: 295px; cursor: pointer; position: relative; }
.frnt_back_view .drop_uploader.drop_zone .text { color:transparent;  }
.frnt_back_view .drop_uploader.drop_zone ul.files.thumb li div.thumbnail {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 50%;
    background-color: #e1e1e1;
}
.input-btn{ margin:0 auto; }
.d-amount{float: left; position: absolute; left:173px; width: 80px; top: 9px;}




.ticket-view-approvals, .ticket-view-discussions, .ticket-view-task, .ticket-view-more{width:100%; float:left;margin:0 0 40px; padding:0 0px;}
.ticket-view-document a, .ticket-view-discussions a, .ticket-view-task a{font-size:16px;}
.ticket-view-document a i, .ticket-view-discussions a i, .ticket-view-task a i{font-size:18px; color:#000; padding:0 5px 0 0;}
.ticket-view-task  td:first-child{width:15px;}
.ticket-view-discussions  img{width: 50px; height: 50px; border: 1px solid #ccc; border-radius: 100%; float:left; margin:0 15px 0 0;}
.ticket-view-approvals  img{width: 50px; height: 50px; border: 1px solid #ccc; border-radius: 100%; float:left; margin:0 15px 0 0;}
.photography-ticket a{font-size: 16px;}
.photography-ticket span{float:right; font-size: 15px;}
.ticket-head-document{border-bottom:1px solid #ccc; float: left; width: 100%; margin: 0 0px 15px;}
.ticket-head-document h3{font-size:14px; font-weight:bold;}
.ticket-service{width:100%; float:left; padding:15px;background: #f5f5f5; text-align: center; margin:0 0 30px; min-height: 255px; cursor:pointer;}
.ticket-service img{width:100px; height:100px; margin: 0 0 10px; }
.ticket-service p{text-align:center;     font-size: 16px;
    margin: 0;}
.lode-ticket{text-align: center;background: #ccc; padding:10px; color:#ccc;}
.btn.btn-primary.user-list-search{width:100%;}
.form-horizontal .form-group{margin:0 0px 15px!important;}
.table-responsive{overflow-x: hidden !important; width:100%; float:left;}

span.remove_pic1 {
    position: absolute !important;
    top: 0px !important;
    left: 155px !important;
    color: red;
    cursor: pointer;
}

/*26-12-2016*/
.info-box-content{width:100%; float:left; text-align:right; margin-left:0px !important;}
.info-box-number{font-size:30px !important; font-weight:normal  !important;}
.info-box-text{text-transform:initial !important; font-size:16px !important;}
ul.status-dashboard{list-style: none; padding: 0; margin: 0;}
ul.status-dashboard li{display: -webkit-inline-box; padding: 0 0 0 10px;}
/*26-12-2016*/

/*27-12-2016*/
.sweet-alert .sa-icon.sa-warning.pulseWarning{display:none !important;}
.sweet-alert h2{font-size:20px !important; margin:10px 0 !important;}
.status-pending{background:#67c5df; padding: 2px 15px 5px; border-radius: 4px; color:#fff;}
.is-ticket:hover, .not-ticket:hover, .status-pending:hover, .status-approved:hover, .status-rejected:hover{color:#fff;}
.status-approved{background:#01bc8c; padding: 2px 15px 5px; border-radius: 4px; color:#fff;}
.status-rejected{background:#ff6633; padding: 2px 15px 5px; border-radius: 4px; color:#fff;}
.is-ticket{background:#ff6633; padding: 2px 15px 5px; border-radius: 4px; color:#fff;    width: 50%;    float: left;    text-align: center;}
.not-ticket{background:#67c5df; padding: 2px 15px 5px; border-radius: 4px; color:#fff;    width: 50%;    float: left;    text-align: center;}
.form-group.change-status{float: left; margin:0 15px 0 0;}
.error{color: red; margin:0px; font-weight:normal;}
.status-pending{ background:#67c5df; padding: 2px 15px 5px; width: 100%; float: left; text-align: left;}
.status-approved{ background:#01bc8c;padding: 2px 15px 5px; width: 100%; float: left; text-align: left;}
.status-rejected{ background:#ff6633; padding: 2px 15px 5px; width: 100%; float: left; text-align: left;}
.breadcrumb > .active{color: #3c8dbc !important; font-weight: 700 !important;}
.task-status, .doc-status, .discussion-status, .approval-status{    text-align: center;    background: #cecdcd;    padding: 10px;    width: 100%;    float: left; border-radius:4px; margin: 20px 0;}
.task-status h4, .doc-status h4, .discussion-status h4, .approval-status  h4{font-size: 20px; margin: 0 0 10px; float: left; width: 100%;}
.status-count{width: 100%; float: left; text-align: center; margin: 20px 0;}
.status-count .status-active{width: 25%; background: #fff; padding: 20px; border-radius: 100%; margin: 20px 0; margin: 0 auto; border:2px solid #3c8dbc; font-size:20px; color:#000;}
.status-count span{font-size:20px}

/*27-12-2016*/
/*29-12-2016*/
.doc-info{width: 50%; float: left; margin:0 0 20px;}
.ticket-service .doc-info i{    background: #fff;
    padding: 11px 0 0 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid #ccc;
    text-align: center;
    font-size: 21px;
    margin: 0 0 0px;}
.doc-info1{width: 100%; float: left; text-align: center;}
.doc-info1 i{background: #fff; width: 50px; height: 50px; padding: 16px; border-radius: 100%; border: 3px solid #ccc; text-align: center;}
/*29-12-2016*/
.ticket-view-page .ticket-view-more p{width:auto; float:right}
.ticket-view-page p{width:100%; float:left;}
.ticket-view-page  a.btn{float:right; margin:25px 0 0 0;}
.priority-high{background:#ff6633; padding: 2px 15px 5px; width: 100%; float: left; text-align: left; border-radius: 4px; color:#fff;}
.priority-none{background:#ccc; padding: 2px 15px 5px; width: 100%; float: left; text-align: left; border-radius: 4px; color:#fff;}
.status-completed{background:#009651; padding: 2px 15px 5px; width: 100%; float: left; text-align: left; border-radius: 4px; color:#fff;}
.items span { display: inline-block; margin: 5px; padding: 5px; border: 1px solid #ccc;}
.form-control.error{border-color:red !important;}
.fileupload-new .btn-file{margin: 10px 0 0 0px !important;}
.input-group{position:relative}
.input-group label.error{position:absolute; top: 35px; left: 0;}
#charity_create_popup .fileupload-new .img-pview{width: 150px;height: 150px; margin-top:10px; border:1px solid #ccc}
.heading-agent{font-size:17px;border-bottom: 1px solid #f4f4f4; padding: 0 0 10px 0px;}
.modal-body.status_body .table thead td{font-weight:bold;}
.breadcrumb > .active{color: #3c8dbc  !important; font-weight: 700 !important;}
.ticket-view a.addService{margin:0px;}
#role_val_form tbody td:first-child{text-align:left;}
#val_edit_form .login-email{border-right:0px;}
#role_edit_val_form tbody td:first-child{text-align:left;}
.content-header .content-header>h1{font-weight:600 !important;}
.box-header h3.box-title{font-weight:600 !important;}

.bootstrap-tagsinput {width: 100%; float: left; border-radius: 0px; font-size: 14px;}
.tag.label.label-info{float: left; font-size: 13px; margin-bottom: 2px;}

/*6-jan-2017*/
#pwd_shw{cursor: pointer;}
/***************/
input#profile_logo {
    color: transparent;
}
#charity_edit_popup .modal-footer {
    border-top-color: #f4f4f4;
    clear: left;
}
#charity_edit_popup span.remove_pic {
    position: absolute;
    top: -4px;
    color: red;
    right: 0px;
}
#charity_edit_popup .upload_bx {
    padding-left: 5px;
    margin-top: 5px;
}
#charity_edit_popup .upload_btns {
    padding-left: 10px;
}
input#edit_img_pic {
    color: transparent;
}
#charity_edit_popup .fileupload.fileupload-new {
    position: relative;
    max-height: 200px;
    overflow: hidden;
}

.defult-form .image-label{width:100%; float:left; text-align:left !important;}
.defult-form .fileupload.fileupload-new {position:relative !important;}
.defult-form .fileupload.fileupload-new span.remove_pic,.defult-form .fileupload.fileupload-new span.edit_remove_pic{position: absolute !important;top: 0px !important;left: 155px !important;color: red;cursor: pointer;}

/*10-01-2017*/
.task-ticket span{padding:0 0px 0 15px; text-align:right;float:right}
.task-ticket span i{padding:0 10px 0 0px;}

/*10-01-2017*/


/*12-01-2017*/
.noteices-text{width: 100%; float: left;font-size: 12px;}
#adtl_emails .modal-body .form-group{width:100%; float:left;}
/*12-01-2017*/

.ticket-view-task .tasks_list td{width: 100px; text-align:center;}
.ticket-view-more .tasks_completed_list td{width: 195px;text-align:center;}
.ticket-view-task #reorder td:first-child{text-align:left; width:3%; cursor:move; padding-left:0px;}
.ticket-view-task.task_view th{padding-left:0px; padding-right:0px;}

.ticket-view-task .tasks_list td:nth-child(2) a{float:left}
.ticket-view-more .tasks_completed_list td:first-child{text-align:left;}
.btn-file input#profile_logo {
    border: none;
}
#charity-create span.remove_pic {
   position: absolute;
top: -4px;
color: red;
left: 162px;
}
.fileupload.fileupload-new {
	position:relative
}

.comments_list tr td:first-child{width:70px;}
#charity_create_popup .modal-footer {
    border-top-color: #f4f4f4;
    clear: left;
}
.ticket-view-task .tasks_list .task_status{margin:5px 10px 0 0; float: left;}
.ticket-view-more .tasks_completed_list .task_status{margin:5px 10px 0 0; float: left;}
.ticket-view-task .table-responsive{overflow-x:inherit !important; }
.ticket-view-task .tasks_list .dropdown-menu li span{background: #f5f5f5; width: 100%; float: left; padding: 5px;}
/*16-01-2017*/
.service-new {width:100%;float:left;margin:20px 0 0; border:1px solid #f7f7f7; padding:15px}
.service-new span{text-align: center; font-size: 15px; margin: 5px 0 0 0;}
#service-details{    width: 100%;
    float: left;
    border: 1px solid #ccc;
    padding: 15px}
/*16-01-2017*/

/*17-01-2017*/
.ticket-tabs{margin:20px 0 0;}
.ticket-view .ticket-view-task{margin-top:20px;}
.ticket-view-task .table>thead>tr>th{border-bottom:1px solid #f4f4f4}
#newTask .table>tbody>tr>td, .positionNewTask .table>tbody>tr>td{border:none;}
.ticket-view  .ticket-view-task td a.btn{float:left;margin: 0 10px 0 0}
.ticket-view  .ticket-view-task td .dropdown .dropdown-toggle{float:right;margin: 0 0px 0 0}
.ticket-view  .ticket-view-task td a i{color:#fff;padding:0px;}
.task-view-headings{float:right; font-size:14px !important;}
.tasks_list td span.img-text-task{margin:10px 0 0 0;font-size:15px; float:left;text-align:left;width:200px;}
.tasks_completed_list td span.img-text-task{margin:10px 0 0 0;font-size:15px; float:left;}
.ticket-view-task .priority_task{float: left; width: auto;}
.ticket-view-task .dropdown-menu li:last-child a{    clear: inherit;}
.ticket-view-more p.ticket-view-more{width:auto; float:right; margin:20px 0 0;}
.ticket-view-task .positionNewTask  td:first-child{display:none;}
.task-ticket-form p input{float: left; margin: 4px 8px 0 0px;}
.ticket-view-task .dropdown-menu li a.priority_task:first-child{background: red; color: #fff; padding: 3px 27px;}
.doc_upload{margin: -2px 25px 0px 0px; font-size: 14px !important; float: left;}
.doc_upload i{margin: 0 3px 0 0px;}
.folder_create{font-size: 14px !important; margin: -2px 25px 0px 0px;float:left}
.folder_create i{margin: 0 3px 0 0px;}
.ticket-service i{font-size: 100px; color: #ccc; margin: 30px 0 30px;}
.ticket-service h4{margin: 0 0 20px;}
/*17-01-2017*/

/*19-01-2017*/
.document-breadcrumb{padding:0px;list-style-type:none; margin:11px 0 0;}
.document-breadcrumb li{display:inline; padding:0px;}
.document-breadcrumb li a{font-size: 14px; font-weight: bold;display:inline; padding:0px; color:#000;}
.document-breadcrumb li.active a{color:#3c8dbc;}
.document-breadcrumb li:last-child span{display:none;}
.document-breadcrumb li span{padding:0px 5px;}
.document-edit .doc_popup{float:left;}
.document-edit .dropdown{float:right;}
.document-edit .dropdown a{margin:0px;}
body .loading{position: absolute; left: 0; right: 0px; top: 0; background:rgba(204,204,204,0.5); z-index: 9999; bottom: 0; padding: 350px 0 0px 700px;}
body .loading img{width:10%;}
.ticket-view .tasks_completed_list .dropdown-toggle{margin:0px;}
.sing_desc{float:left;}
/*19-01-2017*/





/*discussion 20-1-2017*/
.discussion-ticket-create img{width: 50px; height: 50px; border-radius: 100%; float: left;}
.discussion-ticket-create img{width: 50px; height: 50px; border-radius: 100%; float: left;}
.discussion-ticket-create .checkbox input[type="checkbox"]{margin-left:0px !important;}
.ticket-view-discussions h5{font-size: 15px; margin: 0px;}
.ticket-view-discussions h4{font-size: 16px; margin:0 0 20px;}
.ticket-view-discussions .discussion_view tr{border-bottom:1px solid #ccc;}
/*discussion 20-1-2017*/


/*23-01-2017*/
#ticket-id .nav-tabs li.active a{cursor:pointer;}
.discussion-list-text td:first-child{width:170px;}
.discussion-list-text td:first-child span{margin:8px 0 0 0;float:left;}
.post-message {font-size: 14px !important; margin: 0px 25px 0px 0px;}
.post-message i{margin:0 3px 0 0px}
.no-result{text-align: center !important; font-size: 19px; padding: 40px 0 !important; border-top: 0 !important; color: #ccc;}
.ticket-view-task .tasks_list td:last-child{width:50px;}
.box-header{padding:15px !important;}
.ticket-view-task .tasks_list .dropdown-menu {top: 99%; left: -59px;margin: 37px 0 0;}
.ticket-view-discussions th{padding-left:0px !important;padding-right:0px !important;}
/*23-01-2017*/


/*24-01-2017*/
.note-editor.note-frame .note-editing-area .note-editable{min-height:150px;}
.ticket-view-discussions  td{border-top:none !important;}
.discussion_view td:first-child{width:70px;}
.discussion-form .checkbox{margin-left: 20px;}
.discussion-form h3{font-size:20px; font-weight:500}
.notices{font-size: 14px; font-style: italic;}
.ui-draggable-dragging{zoom:0.8; cursor:pointer}
.ui-draggable-dragging .ticket-service{background:rgba(161, 226, 187, 0.28) !important}
.document-edit .dropdown-menu{min-width:100px !important;}
.small-box .inner p{float:inherit; font-size:18px; color:#fff;}
.small-box .inner{padding:15px !important;}
.small-box .inner h3{color:#fff;}
.head-tickets{font-size:20px !important; font-weight:500 !important;}
/*24-01-2017*/

/* 5/11/2017 */
.request-bag-admin td:first-child {
    color: #000;
    font-weight: 700;
    margin-right: 20px;
    padding-right: 70px;
}
.request-bag-admin td {
    padding: 3px 0px;
}
.details-sec {
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}
.sending-bag-sec .heading-agent {
    text-align: left;
}
.sending-bag-sec {
	text-align: center;
}
.sending-bag-sec p {
	margin-bottom: 30px;
    margin-top: 10px;
	line-height: 30px;
}
.process-bag-steps {
	
}
.row.process-bag-steps {
	margin: 0;
	padding-bottom: 60px;
}
.process-bag-steps h4{
	font-size:16px;
	font-weight: 700;
}
.process-bag-steps input[type="text"] {
	display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}






@media only screen and (min-width : 1300px) {

	.row_pregt .radio {
		width: 15%;
}
	.row_pregt.radio-btn-align .radio {
    width: 30%;
}
}


@media only screen and (max-width : 1280px) {
#dtTable{width:100% !important;}
.ticket-view-task .tasks_list td{width:60px;}
}

@media only screen and (max-width : 800px) {
.is-ticket, .not-ticket{width:100%;}
.agent-list-page .form-control, .user-list-table .form-control{width:200px;}
.table-responsive{overflow-x: auto !important;}
}


@media only screen and (min-device-width:768px) and (max-device-width:1024px){
	.fileupload.fileupload-new.frnt_view_img {
    max-height: inherit;
}
.cupn_catries {
    padding-left: 0px;
}
.defult-form .fileupload.fileupload-new {
    max-height: 50px;
    overflow: hidden;
}
}


@media only screen and (min-width : 768px) {
.costume_creates_pages .fileupload.fileupload-new {
    min-width: 150px;
    min-height: 150px;
    overflow: hidden;
}

.costume_creates_pages .fileupload.fileupload-new img {
    padding-bottom: 20px;
    min-width: 150px;
    max-height: 150px; max-width: 150px;
}
.main-header .logo .logo-sm{display:none;}
}

@media only screen and (max-width : 768px) {
	.request-bag-admin td:first-child {
	padding-right: 5px;
}

@media only screen and (max-width : 767px) {
		.form-group.has-feedback.cosutme-fr label.radio-inline {
    width: 40%;
    float: left;
    margin-left: 0px;
}
	.create-admin_pagess label.radio-inline {
    width: 47%;
    float: left;
    margin-left: 0px;
}
	
}
#category-create .cat_img.fileupload.fileupload-new{margin-left: -30px;
    margin-top: 15px;}
	#category-create .ban_img.fileupload.fileupload-new{margin-left: -30px;
    margin-top: 15px;}
	#charity_edit_popup .fileupload.fileupload-new {
    position: relative;
    max-height: 100px;
    overflow: hidden;
    margin-left: -15px;
    margin-top: 10px;
}
	#charity-create .fileupload.fileupload-new{padding-left:0px;}
 #category-create .defult-form .fileupload.fileupload-new{
		margin-left: -30px;
    margin-top: 7px;
	}
	.cupn_catries {
    padding-left: 0px;padding-right: 0px;
}

	.main-header .logo .logo-lg{display:none;}
.main-header .logo img {    width: 130px;      margin-top: 5px;}
.skin-blue .main-header .logo{background-color: #fff;}
.main-footer .pull-right{width:100%; float:left; text-align:center;}
.main-footer{text-align:center;}
#dtTable_paginate{text-align: center; width: 100%; float: left; margin: 10px 0;}
.content-header>h1{margin:}
.form-group.change-status{width:100%; margin:0 0 10px;}
.ticket-view-approvals, .ticket-view-document, .ticket-view-discussions, .ticket-view-task{padding:0px;}
.ticket-view-discussions  img{float:inherit}
}




@media only screen and (max-width : 320px) {
  .tag.label.label-info{font-family: 11px;}
}

/*28-04-17 dharma */
@media only screen and (max-width : 991px) {
 .skin-blue .input-group{ margin-bottom: 10px; }
}
